@mixin media-sm {
    @media screen and (min-width: 410px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@include media-sm {
    .hero {
        .hero-container {

            h1 {
                font-weight: 400;
                font-size: 1.7rem;
                line-height: 2.5rem;
                margin: 0 2rem;
                position: relative;
                top: 3rem;
            }

            p {
                display: none;
            }
        }
    }

    .companies {
        h2 {
            margin-bottom: 0rem;
        }

        &__text p {
            display: none;
        }

        &__logo img {
            margin: 0.7rem auto;
            align-self: center;
            max-width: 7rem;
        }
    }

    .rt__item img {
        min-width: 100%;
    }

    .about-hr {
        margin-top: 2rem;
        overflow: hidden;

        .about-content {
            flex-direction: column;
            margin: 0 1rem;
            overflow: hidden;
        }
    }


    .course-content__card {
        margin: 1rem;
        overflow: hidden;

    }

    .search {
        h2 {
            display: none;
        }

        .srch-content__card {
            margin: 0 1rem 0;
            flex-direction: column;
            overflow: hidden;
            

            & button {
            margin: 1rem !important;
            position: static !important;
            padding: 1rem !important;
            

            }

            & img {
                width: 15rem;
                margin-top: 2rem;

            }
        }
    }

    .employees {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .empl-content__employee {
            flex-direction: column;

            & img {
                min-width: 21.5rem;
                height: 16rem;
                object-fit: cover;
                margin-top: 1rem;
            }
        }

        .award {
            min-width: 95.9%;
            overflow: hidden;
            margin-top: 1rem;
        }
    }

    .isa {
        margin-top: 1rem !important;

        h2 {
            display: none;
        }

        .isa-content {
            flex-direction: column;
            max-width: 85%;
            margin: 0 auto;
            height: 36.5rem;

            & img {
                min-width: 18rem;
            }

            & p {
                margin-bottom: 1rem;
            }

            & button {
                width: 5rem;
                position: static !important;
            }
        }
    }

    .alumni-content {
        flex-direction: column;
        overflow: hidden;

        &__card {
            margin-top: 1rem;
        }
    }

    .profession {
        h2 {
            display: none;
        }

        .profession-content__card {
            flex-direction: column;
            max-width: 85%;
            margin: 0 auto;

            & img {
                min-width: 100%
            }

            & button {
                position: static !important;
                margin-bottom: 1.5rem !important;
            }

        }
    }

    .footer-cntnt__item1 {
        flex-direction: column;

        & img {
            margin-bottom: 1rem;
        }
        &--right {
            border-top: 1px solid rgba(102, 219, 255, 0.2);
            padding-top: 0.7rem;
            max-width: 90%;
            margin: 1.5rem 1rem 0;
        }
    }

    .footer-cntnt__item2 {
        flex-direction: column;
        align-items: center;
        margin-top: 0 !important;

        &--row {
            text-align: center;
            padding-right: 0 !important;
            min-width: 90%;
            border-bottom: 1px solid rgba(102, 219, 255, 0.2);
            padding-top: 1rem;
        }

        &--column {
            align-items: center;

            & p {
                padding-top: 1rem;
            }
        }

        &--column1 {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            min-width: 90%;
            border-bottom: 1px solid rgba(102, 219, 255, 0.2);

            & a {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .footer-cntnt__item3 {
        height: 4.5rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .paragraph p {
            max-width: 12rem;

        }

    }


}


@include media-md {
    .hero {
        .hero-container {

            h1 {
                font-size: 1.7rem;
                line-height: 2.5rem;
                margin: 0 3rem 2rem;

            }

            p {
                font-weight: 300;
                margin: 0 2rem;
            }
        }
    }

    .rt__item img,
    .rt__item p {
        width: 10rem;
    }

    .companies__text {
        margin: 0 2rem;
    }

    .companies__logo img {
        max-width: 5.5rem;
        height: 4rem;
        object-fit: cover;
        margin: 0 2rem;
    }

    .about-content {
        flex-direction: column;
        margin: 0 2rem;

        &__right {
            margin-top: 1.5rem !important;
        }
    }

    .course-content__card {
        margin-top: 1rem;
    }

    .srch-content__card {
        margin: 0 2rem;
    }

    .employees {
        display: flex;
        flex-direction: column;

        .award {
            min-width: 96%;
            margin: 1rem auto 0;

            & img {
                min-width: 18rem;
            }

            & p {
                padding: 1rem 0;
            }
        }
    }

    .isa-content {
        margin: 0 2rem;
        padding: 1rem;

        & img {
            min-width: 13rem;
        }
    }

    .alumni-content__card {
        margin-top: 1rem;
    }

    .profession-content__card {
        margin: 0 1rem;

        & img {
            height: 13.5rem;
            min-width: 10rem;
            object-fit: cover;
        }
    }


    .footer-cntnt {

        &__item1--right {
            width: 24rem;
            margin: 0 1rem;
        }

        &__item1 img {
            margin-left: 1rem;
        }

        &__item2--row {
            padding: 0 0rem !important;
            min-width: 10.2rem;
            margin-left: 1rem;
        }

        &__item2--column1 li {
            padding-right: 0.1rem !important;
        }

        &__item2--column li {
            padding-right: 0.3rem !important;
        }
    }
}

@include media-lg {

    .companies__text {
        margin: 0 2rem;
    }

    .companies__logo {
        margin: 0 1rem;

        & img {
            max-width: 12.2rem;

        }
    }

    .about-content {
        margin: 0 1.5rem;
    }

    .srch-content__card {
        margin: 0 1.5rem;
    }

    .award {
        margin-right: 1.5rem;
    }

    .isa-content {
        margin: 0 1.5rem;
    }

    .profession-content__card {
        margin: 0 1.5rem;

        &--p {
            margin: 0rem 1rem !important;
        }
    }

    .footer-cntnt {

        &__item1--right {
            width: 32rem;
            margin: 0 1.5rem;
        }

        &__item1 img {
            margin-left: 2.4rem;
        }

        &__item2--row {
            padding: 0 2.4rem !important;
            min-width: 10.2rem;
        }

        &__item2--column {
            margin-left: 4rem;
            margin-right: 1.5rem;

            & li {
                padding-right: 0.5rem !important;
            }
        }

        .paragraph p{
            margin: 1rem 1rem 2.4rem;
            
        }

    }
}