body {
    font-family: 'Muli', sans-serif;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas: 
      'header     header    header'
      'nav        nav       nav'      
      'slider     slider    slider'         
      'left       left      right'      
      'footer     footer    footer';  
    grid-gap: 10px;
    grid-template-rows: auto auto auto auto auto;
  }

#header {
    grid-area: header;
    background-color: #0466c8;
    color: white;
    text-align: center;
}

#slideshow {
    grid-area: slider;
    background-color: white;
    color: white;
    text-align: center;
}

.slide img {
    width: 100%;
    max-height: 700px;
    display: block;
}

#navigation {
    grid-area: nav;
    background-color: #001233;
    font-size: 20px;
    text-align: right;
}

#navigation li {
    display: inline;
}

#navigation a {
    text-decoration: none;
    padding: 20px;
    color: white;
  }
#navigation li a:hover {
    background-color: #979dac;
    color: black;
  }


#left-section {
    grid-area: left;
    background-color: #023e7d;
    padding: 10px;

    color: white;
    text-align: center;
}

.card {
  padding: 20px;
  height: auto;
}
  
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 16px;
  }
  
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
  }

  @media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

#right-section {
     grid-area: right;
    background-color: #33415c;
    color: white;
    text-align: center;
    padding: 10px;
}

#right-section a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #5AB9EA;
    text-transform: uppercase;
}

#footer {
    grid-area: footer;
    background-color: #979dac;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header'
      'nav'
      'slider'         
      'left'
      'right'       
      'footer'; 
  }

  #navigation ul {
    padding: 0;
  }
  
  #navigation li {
    padding: 10px;
    display: block;
    text-align:right;
  }

  #navigation a {
    padding: 0;
    text-decoration: none;
  }
}