body {
    font-family: 'Muli', sans-serif;
}

* {
    box-sizing: border-box;
    
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-areas:    
      'nav'      
      'slider'
      'header'
      'main'       
      'footer';   
    grid-gap: 10px;
    grid-template-rows: auto auto auto auto;
  }

  /* Navigation */
#navigation {
  grid-area: nav;
  background-color: #ccad8f;
  text-align: left;
  overflow: hidden;
  font-size: 20px;
}

#navigation li {
  display: inline;
}

#navigation a {
  text-decoration: none;
  padding: 20px;
  color: black;
}

#navigation li a:hover {
  background-color: black;
  color: white;
}
/* Slideshow */
#slideshow {
    grid-area: slider;
    background-color: firebrick;
    color: white;
    text-align: center;
}

.slide img {
    width: 100%;
    max-height: 700px;
    display: block;
}

#main-section {
  grid-area: main;
}

#header {
  
  grid-area: header;
  background-color: #b3001b;
  color: white;
  text-align: center;
  margin-top: 8px;
}

/* Footer */
#footer {
    grid-area: footer;
    background-color: #7ea3cc;
    text-align: center;
    padding: 10px;
}


@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:          
      'header'
      'nav'
      'main'    
      'footer'; 
  }

  #slideshow {
    display: none;
  }

  /* Navigation */
  #navigation ul {
    padding: 0;
  }
  
  #navigation li {
    padding: 10px;
    display: block;
  }

  #navigation a {
    padding: 0;
    text-decoration: none;
  }
}


#main-section {
    position: relative;
    padding-bottom: 50%;
  }


#main-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   }
